body {
  background-color: #FFFFFF;
  color: #000000;
}
img {
  margin: 3px;
}
li {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -3px;
}
ul.touchable li {
  padding-top: 8px;
  padding-bottom: 8px;
}
a:link {
  color: #222222;
}
a:visited {
  color: #C0C0C0;
}
td {
  vertical-align: top;
}
p.imgcenter {
  text-align:center;
}
